.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#description {
  margin: auto;
  padding: 3%;
  margin-top: 5%;
  overflow: scroll;
  height: 75vh;
  width: 50%;
  font-size: 1.5em;
  border: solid .02em;
}

#header {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 4em;
}

#nav-bar {
  padding-top: .5%;
  padding-bottom: .5%;
  border-top: solid .5px;
}

.nav-item {
  display: inline;
  font-size:20px;
  padding-left: 5%;
}

#first-nav-item {
  display: inline;
  font-size:20px;
}

#resume {
  overflow: scroll;
  padding-top: 2%;
  padding-left: 2%;
  margin-top: 1%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
  font-size: 1.25em;
  border: solid .02em;
  height: 75vh;
}

#home {
  padding-top: 3%;
}

#professional-work {
  margin-top: 3%;
}

.project-image {
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 25px;
  border: solid .09em;
  width: 242.48px;
  height: 162.47px;
}

.project-image:hover {
  -moz-box-shadow: 0 0 80px #ccc;
  -webkit-box-shadow: 0 0 80px #ccc;
  box-shadow: 0 0 80px #ccc;
}

#profile-picture {
  border-radius: 25px;
}