@font-face {
  font-family: 'Harboro';
  src: url('./assets/fonts/HaboroSoftNormRegular.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Novecento';
  src: url('./assets/fonts/NovecentoSansWideNormal.otf') format('opentype');
  font-style: normal;
}


.App {
  text-align: center;
  padding-bottom: 2%;
}

/* end static styling */